/* From fonts.google.com */
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: url(media/playball.woff2) format('woff2'),
       url(media/playball.ttf)   format('truetype');
}

/* From fonts.google.com */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(media/merriweather.woff2) format('woff2'),
       url(media/merriweather.ttf)   format('truetype');
}

/* From fonts.google.com */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: url(media/mplus1p.woff2) format('woff2'),
       url(media/mplus1p.ttf)   format('truetype');
}

body {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto auto auto auto;
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(#638576, #77a08e);
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
}

header {
  text-align: center;
  grid-column: span 2;
}

h1 {
  font-family: 'Playball', serif;
  font-size: 60px;
  margin: 25px 0;
}

h1 a {
  text-decoration: none;
  color: #000;
}

#nav-skip {
  position: absolute;
  top: 0;
  left: -100vh;
}

#nav-skip:active, #nav-skip:focus {
  left: 0;
}

nav {
  width: 100%;
  font-family: "Merriweather", serif;
}

nav ul {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
  background: #fcfdf2;
  border: 1px solid #000;
  margin-right: -1px;
  float: left;
  height: 37px;
  width: calc(25% - 1px);
}

nav a:hover {
  color: #000;
  background: #fff0c6;
}

nav li a, nav .more {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
  height: 20px;
  padding: 8px 0;
}

nav .flyout li {
  margin: 0;
  width: 100%;
  overflow: hidden;
  margin: -1px 0 -1px -1px;

  border: none;
  height: 0;
}

nav .flyout:hover li, nav .flyout:active li {
  transition: height 200ms ease-in;

  border: 1px solid #000;
  height: 37px;
}

nav .flyout li:first-child {
  margin-top: 1px;
}

nav .menu-label {
  display: none;
}

@media (max-width: 640px) {
  nav li.menu-label, nav li.menu-label:hover, nav li.menu-label:active {
    display: block;
    border: 1px solid #000;
    background: #fcfdf2;
    height: 20px;
    margin: 0;
    padding: 8px 0;
  }

  nav ul:hover li.menu-label, nav ul:active li.menu-label {
    height: 20px;
  }

  nav ul {
    overflow: hidden;
    height: 38px;
  }

  nav ul:active, nav ul:hover {
    overflow: visible;
    height: 300px;
    transition: height 200ms ease-in;
  }

  nav ul:active ul, nav ul:hover ul {
    overflow: visible;
  }

  nav .flyout .more {
    display: none;
  }

  nav .flyout li:first-child {
    margin-top: -1px;
  }

  nav .flyout:hover li:first-child, nav .flyout:active li:first-child {
    border-color: #000;
  }

  nav li {
    transition: height 200ms ease-in;
    height: 0;
    width: calc(100% - 2px);
    margin: -1px 0;
  }

  /* Expand! */
  nav ul:active li, nav ul:hover li {
    height: 37px;
  }

  nav ul:active .flyout li, nav ul:hover .flyout li {
    height: 37px;
    border: 1px solid #000;
  }
}

a:hover {
  color: #e3cd5d;
}

main a:hover {
  color: #e3cd5d;
}

#popular-stories a:hover {
  color: #e3cd5d;
}

main .tag:hover {
  color: #000;
}

h2, h3 {
  font-family: "Merriweather", serif;
}

h2 a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: "M Plus 1p", Helvetica, Arial, sans-serif;
}

main {
  grid-column: 1;
  grid-row: span 2;
  margin: 20px 20px 20px 0;
  border: 1px solid #000;
}

@media (max-width: 800px) {
  main {
    margin: 20px 0;
    grid-row: 2;
  }
}

main article {
  text-align: justify;
  padding: 20px 20px 0;
  position: relative;
  background: #fcfdf2;
}

main .summary {
  display: grid;
  grid-template-columns: 1fr auto;
}

main .summary div {
  grid-column: span 2;
}

main .summary p {
  margin-top: 18px;
}

main h2 {
  margin: 0;
}

main a {
  color: #5c4a0e;
}

main .tag {
  float: right;
  height: 20px;
  margin-left: 15px;
  border: 1px solid #b6a44a;
  border-radius: 20px;
  padding: 4px 7px 1px;
  text-decoration: none;
  color: #000;
  background: #e3cd5d;
}

main .read-more {
  white-space: nowrap;
}

main img {
  float: left;
  margin: 23px 25px 30px 0;
  border: 2px solid #9e4448;
}

@media (max-width: 360px) {
  main img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

main blockquote {
  font-family: "M PLUS 1p", serif;
  text-align: center;
  position: relative;
  font-size: 40px;
  padding: 30px 90px;
  margin: 0;
  quotes: "“" "„" "‘" "’";
}

@media (max-width: 960px) {
  main blockquote {
    padding: 30px;
  }
}

@media (max-width: 360px) {
  main blockquote {
    font-size: 20px;
  }
}

main blockquote::before {
  font-family: "Times New Roman";
  content: open-quote;
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 200px;
  color: #9e444866;
}

main blockquote::after {
  font-family: "Times New Roman";
  content: close-quote;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 200px;
  color: #9e444866;
}

main aside {
  width: 200px;
  float: right;
  margin: 0 30px 20px;
  padding: 0 20px 20px;
  text-align: left;
  border: 2px solid #9e4448;
}

@media (max-width: 960px) {
  main aside {
    width: auto;
    float: none;
    margin: 20px;
  }
}

main #feature {
  padding-bottom: 1px;
}

#popular-stories {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  background: #fcfdf2;
  margin-top: 20px;
  padding: 0 20px;
  border: 1px solid #000;
}

@media (max-width: 800px) {
  #popular-stories {
    margin: 0 0 20px;
    grid-column: 1;
    grid-row: 3;
  }
}

#popular-stories ul {
  padding: 0;
}

#popular-stories li {
  display: block;
  margin-bottom: 15px;
  border-bottom: 2px solid #9e4448;
  padding-bottom: 15px;
}

#popular-stories li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 22px;
}

#popular-stories a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000;
}

#popular-stories a:hover {
  text-decoration: underline;
}

#popular-stories img {
  width: 75px;
  margin: 0;
  flex-shrink: 0;
}

#popular-stories h3 {
  font-size: 17px;
  margin: 0 0 0 20px;
}

footer {
  text-align: center;
  border-top: 3px solid #9e4448;
  height: 20px;
  padding: 8px 0;
  grid-column: span 2;
}

@media (max-width: 800px) {
  footer {
    order: 2;
  }
}
